body {
  background-color: rgb(53, 49, 49);
  color: aliceblue;
  font-family: sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
